.bg{
     background-color:  #0432a1;
     width: 100%;
     height: 100vh;
     
     
}
*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
     position: relative;
}
.center-img{
top: 20%;
z-index: 10000;
width: 500px;
}
.center-img img{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
     
}
/* .wave-animate{
     
     width: 100%;
     height: 4%;

     position: absolute;
     bottom: -125px;
     letter-spacing: 0;
     background-color: #fff;
} */
/* .wave-animate .wave{
     background: url(img/wave.svg) repeat-x;
     position: absolute;
     width:100%;
     height: 198px;
     top: -198px;
     animation: wave 7s cubic-bezier(0.36,0.45,0.63,0.54) infinite;
     transform: translate3d(0,0,0);
     
}
.wave-animate .wave:nth-of-type(2){
     top: -215px;
     animation: wave 7s cubic-bezier(0.36,0.45,0.63,0.54) -0.125s infinite, swell 7s ease -1.25s infinite;
     opacity: 0.4;
}
@keyframes wave{
      0%{
          margin-left: 0%;
     }
     100%{
          margin-left: -1100px;

     
     } 

} */

/* svg{
     position: absolute;
     width: 100%;
     bottom: 0;
     left: 0;
     animation-name: example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
    
   }
   .spacer{
     height: 100px;
     width: 100%;
   }
   
   @keyframes example {
     0%   {
       left:0px;
       top:0px;}
     
     50%  {
       left:-2000px;
       top:200px;}
     
     100% {
       left:0px; 
       top:0px;}
   } */
   div.waves{
     width: 100%;
     bottom: 0;
     /*height: 100%;*/
     position: absolute;
     z-index: 1199;
   }
.m1{
    top: 400px;

z-index: 1002000;
background-color: #fff;
}


h1{
     color: white;
     
     
     
     position: relative;
    
     
}

h2{
     margin-top: 30px;
    font-weight: 900;

}
span{
     color:#0432a1;
}
 .bg1{
      background-color: #fff;
 }
 .m2{
      background-color: #fff;
 }
 @media only screen and (max-width: 800px) {
     .wave-animate {
       display: none;
     }
     .m2 .imgs{
          width:300px;
         
     }
     div .s2{
          display: none;
          

     }
 .sv2 img{
          display: none;
     }
    
     .sv  svg {
          display: none;
     
         
      }
      .hide img{
           display: none;
      }
      .bg5{
           background-color:#0432a1 ;
           position: absolute;
           text-align: center;
           top: 3500px;
           z-index: 100200020;
           width:100%;
           
           
      }
       h2{
           color: white;
           text-align: center;
      }
       p{
          color: white;
          text-align: center;
     }
      .bg4{
           position: relative;
           
      }
      .text {
           color: white;
      }
      
   }
   
  .bg4{
       background-color:#0432a1 ;
       height: 210vh;
       position: relative;
       z-index: 10;
       
       


  }
  .sv{
     
       position: absolute;
       width: 100%;
       margin-top: -300px;
  }
  h2{
       color: white;
  }
  p{
       color: white;

  }
  .sv2{
       z-index: 1000100;
  }
  /* .bg5{
     background-color:#0432a1;
     height: 100vh;
     position: relative;
  } */
  .text{
       margin: auto;
       color: white;
  }
  .bg5 h2{
       color: white;
       

  }
  .bg5 p{
       color: white;
  }
  .bg5{
       background-color:#0432a1 ;
       width:100%;
  }
  h6{
       color: white;
  }
